.shop-container {
  height: max-content;
  width: 100%;
  background: rgb(92, 75, 75);
  display: inline-block;
}
.items-list-container {
  width: 25%;
  margin-top: 80px;
  height: 100%;
  background: rgb(247, 245, 245);
  position: fixed;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
}
.items-list {
  border-radius: 2px;
  padding: 10px;
  padding-left: 15px;
}
.items-list:hover {
  background: rgb(226, 224, 224);
  cursor: pointer;
}
.cart {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  margin-bottom: 80px;
  border: 2px solid #fff;
  border-radius: 100%;
  background:rgb(206, 182, 182);
  text-decoration: none;
  color: black;
}
.cart:hover {
  background: rgb(141, 128, 128);
}
.explanation-container {
  width: 50%;
}
.res-points-container,
.res-explanation-container {
  display: flex;
  justify-content: space-around;
}
.items-container {
  position: relative;
  right: 0;
  margin-top: 80px;
  color: white;
  width: 75%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  float: right;
  align-items: center;
}
.item-container {
  margin: 5px;
  background-color: rgb(216, 195, 191);
  width: 250px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.item-img-container {
  width: 80%;
}
.item-img {
  width: 100%;
}
.items-list {
  list-style-type: none;
}
.item-desc-container {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.item-button {
  background: rgb(92, 75, 75);
  border: 0;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 20px;
}
@media screen and (max-width: 960px) {
  .items-container,
  .items-list-container {
    margin-top: 0;
  }
  .items-list-container {
    position: relative;
  }
  .shop-container {
    display: flex;
    flex-direction: column;
  }
  .items-list-container {
    flex-direction: row;
    width: 100%;
  }
  .items-list-parent {
    display: flex;
    flex-wrap: wrap;
  }
  .items-container {
    width: 100%;
  }
  
}
