.test-container {
  position: relative;
  padding-top: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 70vh;
  justify-content: space-around;
}
.test-question-parent {
  border: 3px solid #e7c3ac;
  border-radius: 15px;
  background: cornsilk;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.test-question {
 text-align: center;
 background: #c49a94;
 padding: 20px;
 border-radius: 10px;
 color: white;
}
.test-answers {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.test-button {
  text-decoration: none;
  color: #F5E8E5;
  border: solid 2px #F5E8E5;
  padding: 5px 10px;
  background:#c49a94;
  border-radius: 10px;
  cursor: pointer;
}
.test-button:hover {
  border: solid 2px #F5E8E5;
  color: #776464;
  background: #E9CAC4;
}
.rc-steps-item-finish .rc-steps-item-icon {
  border-color: #d8aea5;
  background-color: rgb(187, 25, 25);
  color: #d8aea5;
}