.test-container {
  position: relative;
  padding-top: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  justify-content: space-around;
}
.test-question-parent {
  border: 3px solid #e7c3ac;
  border-radius: 15px;
  background: cornsilk;
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
}
.test-question {
 text-align: center;
 background: #c49a94;
 padding: 20px;
 border-radius: 10px;
 color: white;
}
.test-answers {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.test-button {
  text-decoration: none;
  color: #F5E8E5;
  border: solid 2px #F5E8E5;
  padding: 5px 10px;
  background:#c49a94;
  border-radius: 10px;
  cursor: pointer;
}
.test-button:hover {
  border: solid 2px #F5E8E5;
  color: #776464;
  background: #E9CAC4;
}
.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot,
.rc-steps-item-process .rc-steps-item-icon,
.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot,
.rc-steps-item-finish .rc-steps-item-title:after,
.rc-steps-item-finish .rc-steps-item-tail:after {
background:#d8aea5 ;
}
.rc-steps-navigation .rc-steps-item-active .rc-steps-item-container {
  border-bottom: 3px solid #d8aea5;
}
.rc-steps-item-custom.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon,
.rc-steps-item-finish .rc-steps-item-icon,
.rc-steps-item-icon > .rc-steps-icon,
.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
  color: #d8aea5;
}
.rc-steps-item-finish .rc-steps-item-icon,
.rc-steps-item-process .rc-steps-item-icon {
  border-color: #d8aea5;
}
.checkbox{
 margin-right: 5px;
}
.result-container {
  background: rgb(243, 221, 221);
  position: relative;
  margin-top: 300px;
  padding-top: 90px;
  margin: auto;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.results {
  height: 50%;
  width: 70%;
  border: solid 5px rgb(173, 157, 157);
  border-radius: 10px;
  background: #F3E4E1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  white-space: pre-wrap;
}
.hidden {
  display: none;
}
