.slider-container {
    width: 100%;
    height: 95vh;
} 
.link {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: lighter;
}
.link:hover {
    color: rgb(218, 147, 147);
}